@charset "utf-8";

*, *:before, *:after {
	box-sizing: inherit;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	table-layout: fixed;
	border-collapse: collapse;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	width: 100%;
    height: 100%;
	color:#2d3e50;
	background-color:#d1d5d8;
	margin:0px;
	padding:0px;
}
h1 { font-size:24px }
table.txtcontent * { vertical-align:middle }
table.txtcontent td, table.txtcontent th { padding:4px }
table.border1px td, table.border1px th {
	border:1px solid #bec3c7;
	background-color:rgba(255,255,255,.5);
}
table.nobordered td, table.nobordered th { border:none }
.button_sand {
	display:inline-block;
	border:1px solid #475577;
	cursor:pointer;
	white-space:nowrap;
	outline:0;
	font-size: 14px !important;
	padding: 0px 10px !important;
	color: #ddd;
	background-color: #475577;
	vertical-align: middle;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	transition:all .2s linear;
}
.button_sand:hover, .button_sand:focus {
	border:1px solid #000;
	box-shadow:inset 0 0 2px rgba(0, 0, 0, .2);
	color:#fff;
	background:#28324e
}
.button_sand:active {
	background-color:#5e80a5
}
.button_sand.small {
	font-size:9px !important;
}

input[type="text"].button_sand, input[type="text"].button_sand:hover, input[type="text"].button_sand:focus, input[type="text"].button_sand:active, 
input[type="password"].button_sand, input[type="password"].button_sand:hover, input[type="password"].button_sand:focus, input[type="password"].button_sand:active,
select.button_sand, select.button_sand:hover, select.button_sand:active, select.button_sand:focus {
	color: #333;
	background-color: #fff;
	box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

textarea {
	padding: 0 5px;
}

table.border1px td.back_gray {
	background-color:#475577;
	color:#fff
}
table.border1px td.light_gray {
	color: rgba(0,0,0,.5);
	box-shadow:0 0 20px rgba(0,0,0,.1) inset;
}
table.border1px td.back_gray.light_gray {
	color: rgba(255,255,255,.5);
	background-color:#677597;
}
.header {
	padding: 20px;
	white-space: nowrap;
	color: #fff;
	background-color:#475577;
}
.marker {
	box-shadow: 0px 0px 6px rgba(0,0,0,.4) inset;
	border-radius: 5px;
	display: block;
	position:absolute;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	margin-top:0px;
	margin-left:0px;
	padding:0;
	color:#000;
	opacity:.7;
	font-size: 10px;
	filter:alpha(opacity=70);
}

.tooltip {
	position: absolute;
	background: rgba(0, 0, 0, .8);
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px 10px;
	transition: opacity .2s linear;
}

div.menu {
	color: #000;
	background: #bbb;
}
div.menu:hover {
	color:#000;
}
table.border1px td.green_line {
	border-top:2px solid #27ae61
}
table.border1px td.du {
	border-bottom:1px solid rgba(0,0,0,.05)
}
table.border1px td.back_green {
	background-color:#dfd
}
table.border1px td.mmo {
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	width:14%;
	cursor:pointer;
	vertical-align:text-top;
	text-align:center;
	transition: all .2s linear;
}
table.border1px td.mmo:hover {
	box-shadow:inset 0 0 16px rgba(0, 0, 0, .1);
	background:#d14841
}
.small_user {
	float:left;
	display:inline;
	padding:2px 1px 2px .5em;
}
.small_user:hover {
	border-radius:3px;
	background:#eee
}
.small_user a {
	padding:.3em;
	text-decoration:none
}
.picker {
	position:absolute;
	background:url(../img/picker.png);
	width:192px;
	height:136px;
	display:inline;
	z-index:999;
	border:1px solid #666;
	cursor:crosshair
}
.trans {
	border:none;
	background:0 0;
	box-shadow:none;
	width:100%;
	text-align:center;
	margin:0;
	padding:1px
}
.parent_container th.dates {
	border: none;
	background: none;
	font-weight: bold;
	font-size:10px;
}
.parent_container td {
	cursor:pointer;
	height:20px;
	min-height:20px;
	vertical-align:top;
}
table.border1px td.num_offset {
	border:none;
	background: none;
	min-width:1px;
	width:1px;
	cursor:default;
}
.num_offset div {
	margin-top:-10px;
	padding-right:5px;
	text-align: right;
}
.num_offset_today {
	color:#00ab22;
	font-weight:700
}
.monthtable {
	width:100%;
	height:100%
	table-layout: fixed;
}
.monthtable tr {
	height:120px;
	vertical-align:top
}

.monthtable td {
	vertical-align: top;
	width: 14.28%;
}

.parent_container td, .marker {
	width: 90px;
	min-width: 90px;
}
.transition_all {
	transition: all .1s linear;
}