@charset "utf-8";
* {
	border-collapse:collapse;
	font-family:webdings;
}
body {
	color:#2d3e50;
	background:#d1d5d8;
	margin:0;
	padding:0;
	font-size:90%;
}
h1 {
	font-size:150%
}
table.txtcontent * {
	vertical-align:middle
}
table.txtcontent td, table.txtcontent th {
	padding:.3em
}
table.border1px td, table.border1px th {
	border:1px solid #bec3c7;
	background:rgba(255,255,255,.5);
}
table.nobordered td, table.nobordered th {
	border:none
}
.button_sand {
	display:inline-block;
	border:1px solid #475577;
	cursor:pointer;
	white-space:nowrap;
	outline:0;
	padding:.4em .7em;
	color:#ddd;
	background:#475577;
	vertical-align:middle;
	text-decoration:none;
transition:all .3s ease-in-out
}
.button_sand:hover {
	border:1px solid #000;
	box-shadow:inset 0 0 2px rgba(0, 0, 0, .2);
	color:#fff;
	background:#28324e
}
.button_sand:active {
	background:#5e80a5
}
.button_sand.red {
	background:#F63
}
.button_sand.small {
	font-size:9px;
	padding:.3em .7em
}
button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=file]>input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
border:none
}
input[type=text] {
	padding:.3em
}
input, select, textarea {
	background:#fff;
	box-shadow:inset 1px 1px 2px #ddd8dc;
	outline:0;
	border:1px solid #bbb;
	margin:0;
transition:all .2s ease-in-out
}
input:focus, select:hover, textarea:focus {
	box-shadow:none;
	border:1px solid #aaa
}
table.border1px td.thround {
	text-align:center;
	border:none;
	color:#fff;
	background:#475577
}
table.border1px td.back_gray {
	background-color:#475577;
	color:#fff
}
.header {
	padding:1em;
	white-space:nowrap;
	color:#fff;
	background:#475577
}
.header_td input {
	padding:0 2px
}
.marker {
	border-radius:8px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	position:absolute;
	margin-top:-11px;
	margin-left:-1px;
	padding:0;
	color:#000;
	border:1px solid #777;
	width:100px;
	min-width:100px;
	opacity:.7;
	filter:alpha(opacity=70)
}
div.menu {
	color:#000;
	background:#bbb;
transition:border .2s ease-in-out
}
div.menu:hover {
	color:#000
}
#menu li {
	cursor:pointer;
	padding:.5em
}
#menu li:hover {
	background:#ddd
}
.monthmarker {
	background-color:none;
transition:all .2s ease-in-out
}
.monthmarker:hover {
	box-shadow:inset 0 0 2px rgba(0, 0, 0, .4);
	background-color:#efefef
}
table.border1px td.green_line {
	border-top:2px solid #27ae61
}
table.border1px td.dd {
	border-top:1px solid #bec3c7
}
table.border1px td.du {
	border-bottom:1px solid rgba(255,255,255,0)
}
table.border1px td.back_green {
	background-color:#dfd
}
table.border1px td.back_green.du {
	border-bottom:1px solid #dfd
}
table.border1px td.mmo {
	width:14%;
	cursor:pointer;
transition:all .2s ease-in-out;
	vertical-align:text-top;
	text-align:center
}
table.border1px td.mmo:hover {
	box-shadow:inset 0 0 16px rgba(0, 0, 0, .1);
	background:#d14841
}
.small_user {
	float:left;
	display:inline;
	padding:2px 1px 2px .5em;
transition:all .2s ease-in-out
}
.small_user:hover {
	border-radius:3px;
	background:#eee
}
.small_user a {
	padding:.3em;
	text-decoration:none
}
.picker {
	position:absolute;
	background:url(../img/picker.png);
	width:192px;
	height:136px;
	display:inline;
	z-index:999;
	border:1px solid #666;
	cursor:crosshair
}
#skull div {
	border:1px solid #333;
	padding:1em 0;
	box-shadow:inset 0 0 5px rgba(0, 0, 0, .4)
}
#selectroom {
	vertical-align:middle
}
.trans {
	border:none;
	background:0 0;
	box-shadow:none;
	width:100%;
	text-align:center;
	margin:0;
	padding:1px
}
.parent_container th.dates {
	border:none;
	background:0 0;
	font-weight:700
}
.parent_container td {
	cursor:pointer;
	padding:0;
	margin:0;
	min-width:100px;
	width:100px;
	min-height:20px;
	height:20px
}
table.border1px td.num_offset {
	border:none;
	background:0 0;
	min-width:1px;
	width:1px;
	cursor:default
}
.num_offset div {
	margin-top:-1.5em;
	padding-right:.5em
}
.num_offset_today {
	color:#00ab22;
	font-weight:700
}
.ui-tooltip {
	max-width:400px;
	border-radius:4px;
	padding:.5em;
	white-space:pre;
	text-align:center;
	border:2px solid #555!important;
	background-color:#fff;
	box-shadow:0 0 5px rgba(0, 0, 0, .4)
}
.tooltip {
	border-radius:4px;
	padding:.5em;
	border:2px solid #555;
	background-color:#fff;
	box-shadow:0 0 5px rgba(0, 0, 0, .4);
	text-decoration:none;
	transition:none;
	color:#000;
	position:absolute;
	top:-35px;
	left:-15px;
	text-align:center;
	font-size:10px
}
.tooltip:after, .tooltip:before, .ui-tooltip:after, .ui-tooltip:before {
	content:'';
	position:absolute;
	bottom:-8px;
	left:50%;
	margin-left:-6px;
	width:0;
	height:0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:6px solid #555
}
.tooltip:after, .ui-tooltip:after {
	bottom:-6px;
	margin-left:-6px;
	border-top:6px solid #fff
}
.slide_small.closed:after {
	content:'\002b'
}
.slide_small:after {
	content:'\2212'
}
.dates {
	font-size:85%
}
.monthtable {
	width:97%;
	height:97%
}
.monthtable tr {
	height:120px;
	vertical-align:top
}
.monthtable table tr {
	height:auto
}
